//Variables
$color-meli: #FFE600;
$small-device: "576px";
$medium-device: "768px";
$large-device: "992px";
$extra-large-device: "992px";
$size-full: 100%;
$font-family-sans-serif: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
%reset-style {
    border: none;
    text-decoration:none;
  }
  $font-light: 400;
  $font-medium: 500;
  $font-extra: 600;